In [301]:
import pandas as pd

In [302]:
nft = pd.read_csv("data_transformation/nft_transactions_2019_2021.csv", parse_dates=["sales_datetime"])
print(nft.shape)
nft.head()

C:\Users\Alex\AppData\Local\Temp\ipykernel_17644\2493614862.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  nft = pd.read_csv("data_transformation/nft_transactions_2019_2021.csv", parse_dates=["sales_datetime"])

(5252254, 15)

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

In [303]:
nft.drop(["asset.collection.short_description", "asset.permalink"], axis=1, inplace=True) # useless features
nft.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305787
asset.collection.name       48785
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

In [304]:
nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

* Each row consists of a transaction of an NFT asset

In [305]:
nft["id"].unique().shape

(5252254,)

- Some assets appear in multiple transactions

In [306]:
nft['asset.id'].unique().shape

(3651730,)

* Each asset is part of a collection

In [307]:
nft["asset.collection.name"].unique().shape

(51423,)

* And also part of a greater category

In [308]:
print(nft["Category"].unique().shape)
nft["Category"].value_counts()

(10,)

Category
Collectibles      2904079
Art               1145826
Uncategorized      513537
Virtual Worlds     282409
Utility            252446
Trading Cards       84564
Sports              25928
Domain              16687
Music               15279
Photography         11499
Name: count, dtype: int64

In [309]:
nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

* Users share addresses?

In [310]:
nft["seller.user.username"].unique().shape

(242258,)

In [311]:
nft["seller.address"].unique().shape

(314417,)

* What about our unique buyers?

In [312]:
nft["winner_account.address"].unique().shape

(617332,)

* It looks like several renames have been done on collections, making it look like each asset has multiple collections

* We will keep the most recent name of each collection

In [313]:
# check whether any asset has multiple recorded collections (been part of)
# Run with caution, takes some time

# for asset in nft["asset_id"]:
#     collections = nft.loc[nft["asset_id"] == asset]["collection_name"]
#     unqi = collections.drop_duplicates()
#     if unqi.shape[0] > 1:
#         print(f"asset {asset} has multiple collections: {unqi}")

In [314]:
# check whether any asset has multiple names recorded
# Run with caution, takes some time

# for asset in nft["asset_id"]:
#     names = nft.loc[nft["asset_id"] == asset]["asset_name"]
#     unqi = names.drop_duplicates()
#     if unqi.shape[0] > 1:
#         print(f"asset {asset} has multiple names: {unqi}")

---
## Replacing multiple collection names

* Check how many assets appear to belong to multiple collections

In [316]:
# Group by asset_id and check the number of unique collection names
multi_collection_assets = (
    nft.groupby("asset.id")["asset.collection.name"]
    .nunique()
)
multi_collection_assets.value_counts()

asset.collection.name
1    3649394
2       2333
0          3
Name: count, dtype: int64

In [317]:
# Group by asset_id and check the number of unique collection names
multi_collection_assets = (
    nft.groupby("asset.id")["asset.collection.name"]
    .nunique()
    .reset_index()
    .query("`asset.collection.name` > 1") # backticks used because the column name is not valid in python
)

# Get assets with multiple collection names
multi_collection_assets

         asset.id  asset.collection.name
251569   18108502                      2
252213   18119841                      2
252217   18119901                      2
252583   18150596                      2
252587   18150638                      2
...           ...                    ...
2868546  70458999                      2
2869187  70469564                      2
2869285  70471349                      2
2996891  74252209                      2
3030080  75847424                      2

[2333 rows x 2 columns]

* Only 2333 assets have multiple collection names listed

In [318]:
multi_collection_assets['asset.collection.name'].value_counts()

asset.collection.name
2    2333
Name: count, dtype: int64

* The maximum number of collections connected to a particular asset is 2 which isn't that problematic but let's try to keep only the most recent collection name

In [319]:
'''
Theoretically the code following produces the desired outcome. However it takes a lot of time.
So let's try the procedure followed below, which has the same results
'''


# Sort by asset_id and transaction_date in descending order
# nft_sorted = nft.sort_values(by=["asset.id", "sales_datetime"], ascending=[True, False])

# Identify assets with multiple collection names, as seen above
# multi_collection_assets = (
    #nft.groupby("asset.id")["asset.collection.name"]
    #.nunique()
    #.reset_index()
    #.query("`asset.collection.name` > 1")["asset.id"]  # only keep the ids where transformations need to take place
#)

# Get the most recent collection name for these assets. First get the sorted transaction data of assets with
# multiple collections. Then group by asset id and only keep the first collection name (sorted by date descending)
#most_recent_name = (
    #nft_sorted[nft_sorted["asset.id"].isin(multi_collection_assets)]
    #.groupby("asset.id")
    #.first()["asset.collection.name"]
    #.reset_index()
#)

# Map the most recent name to all transactions for these assets
#replacement_map = dict(zip(most_recent_name["asset.id"], most_recent_name["asset.collection.name"]))
# If the asset id is included in the replacement map then fetch the value associated to it, else keep the original collection name
#nft["asset.collection.name"] = nft["asset.id"].map(lambda x: replacement_map.get(x, nft.loc[nft["asset.id"] == x, "asset.collection.name"].iloc[0]))

#nft

"\nTheoretically the code following produces the desired outcome. However it takes a lot of time.\nSo let's try the procedure followed below, which has the same results\n"

In [320]:
# Sort by asset_id and transaction_date in descending order
nft_sorted = nft.sort_values(by=["asset.id", "sales_datetime"], ascending=[True, False])

# Identify the most recent collection name for each asset_id
most_recent_name = (
    nft_sorted.groupby("asset.id", as_index=False).first()[["asset.id", "asset.collection.name"]]
)

# Merge the most recent names back into the original dataframe
nft = nft.merge(most_recent_name, on="asset.id",how='left', suffixes=("", "_most_recent"))

# Replace collection_name with the most recent name where necessary
nft["asset.collection.name"] = nft["asset.collection.name_most_recent"]
nft.drop(columns=["asset.collection.name_most_recent"], inplace=True)

nft

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,None,150000000000000000,Ether,4119.50,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,None,120000000000000000,Ether,4119.50,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,None,100000000000000000,Ether,4119.50,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,None,10000000000000000,Ether,4119.50,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,None,249580457577544250,Ether,4119.50,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252249,2021-11-29 07:27:49,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,0,Ether,3734.98,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized
5252250,2021-12-03 07:06:44,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,8000000000000000,Ether,3833.11,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized
5252251,2021-03-06 06:09:07,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,20000000000000000,Wrapped Ether,3809.16,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized
5252252,2021-03-29 11:33:23,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,10000000000000000,Ether,3802.82,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized
5252253,2021-10-22 19:55:25,1496067215,44025727,beyond death do us part,~~dreamscapes~~,250000000000000000,Ether,3823.39,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized

Let's check if everything went well

In [321]:
# Group by asset_id and check the number of unique collection names
multi_collection_assets = (
    nft.groupby("asset.id")["asset.collection.name"]
    .nunique()
    .reset_index()
    .query("`asset.collection.name` > 1") # backticks used because the column name is not valid in python
)

# Get assets with multiple collection names
multi_collection_assets

Empty DataFrame
Columns: [asset.id, asset.collection.name]
Index: []

Everything appears to be okay. However, the values formerly stated as NaN, appear to have been changed to None

In [322]:
nft.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305787
asset.collection.name       48785
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

Thankfully, this is still considered to be a missing value.

---
## Replacing multiple asset names

Exactly the same code will be used to figure out whether or not some assets have multiple names attached to them.

In [324]:
# Group by asset_id and check the number of unique collection names
multi_name_assets = (
    nft.groupby("asset.id")["asset.name"]
    .nunique()
    .reset_index()
    .query("`asset.name` > 1") # backticks used because the column name is not valid in python
)

# Get assets with multiple collection names
len(multi_name_assets)

53

In [325]:
multi_name_assets

         asset.id  asset.name
418829   22601505           2
422097   22700278           2
505681   26263587           2
534595   26911932           2
536407   26945413           2
536671   26947553           2
538422   26988747           2
538585   26991134           2
538820   26994400           2
538867   26995030           2
539283   26999619           2
539589   27001309           2
540381   27004876           2
540996   27006469           2
561280   29229502           2
610371   30085922           2
629082   30188751           2
640279   30266766           2
690829   31051787           2
773804   32397763           2
830502   33194209           2
830503   33194210           2
830563   33194393           2
830781   33195806           2
830790   33195823           2
830796   33195852           2
830798   33195867           2
831036   33197015           2
831155   33197715           2
831191   33197996           2
844663   33383344           2
874344   33933254           2
899664   34255354           2
1008720  35308703           2
1008945  35309243           2
1010681  35315257           2
1052140  35755649           2
1090732  36226178           2
1318565  38500025           2
1570647  42919102           2
1578821  42964317           2
1579059  42970233           2
1580910  43015022           2
1605386  43399598           2
1681870  44664252           2
2059168  52861014           2
2063668  53040483           2
2077870  53300411           2
2079602  53365149           2
2505113  62496042           2
2510853  62639183           2
2527823  62859565           2
3049512  77343454           2

Again there appear to be problems regarding 53 assets. Let's have a look at an example.

In [326]:
nft[nft['asset.id'] == 22601505]

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
2958175,2021-06-09 12:18:48,198012102,22601505,24002: 0x00e45aa335,MoonCats,200000000000000000,Ether,3636.28,2,0x8dff027daadeacc7898851c4e750078aba53b922,nathanm614,0xff6ddb157773197c31a834f6a294c7d0c0abc79f,Collectibles
2965662,2021-12-09 14:58:35,2406873116,22601505,MoonCat #24002: 0x00e45aa335,MoonCats,480000000000000000,Ether,3770.94,2,0xff6ddb157773197c31a834f6a294c7d0c0abc79f,Zocktay,0xc986ca9476edc3c021c04e3306f9e37eed9071ab,Collectibles

In [327]:
multi_name_assets['asset.name'].value_counts()

asset.name
2    53
Name: count, dtype: int64

Again the highest number of names associated to a single asset is 2. Let's keep only the most recent names

In [328]:
# Sort by asset_id and transaction_date in descending order
nft_sorted = nft.sort_values(by=["asset.id", "sales_datetime"], ascending=[True, False])

# Identify the most recent name for each asset_id
most_recent_name = (
    nft_sorted.groupby("asset.id", as_index=False).first()[["asset.id", "asset.name"]]
)

# Merge the most recent names back into the original dataframe
nft = nft.merge(most_recent_name, on="asset.id",how='left', suffixes=("", "_most_recent"))

# Replace asset.name with the most recent name where necessary
nft["asset.name"] = nft["asset.name_most_recent"]
nft.drop(columns=["asset.name_most_recent"], inplace=True)

nft

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,None,None,150000000000000000,Ether,4119.50,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,None,None,120000000000000000,Ether,4119.50,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,None,None,100000000000000000,Ether,4119.50,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,None,None,10000000000000000,Ether,4119.50,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,None,None,249580457577544250,Ether,4119.50,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252249,2021-11-29 07:27:49,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,0,Ether,3734.98,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized
5252250,2021-12-03 07:06:44,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,8000000000000000,Ether,3833.11,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized
5252251,2021-03-06 06:09:07,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,20000000000000000,Wrapped Ether,3809.16,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized
5252252,2021-03-29 11:33:23,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,10000000000000000,Ether,3802.82,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized
5252253,2021-10-22 19:55:25,1496067215,44025727,beyond death do us part,~~dreamscapes~~,250000000000000000,Ether,3823.39,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized

Let's check if everything went fine

In [329]:
# Group by asset_id and check the number of unique collection names
multi_name_assets = (
    nft.groupby("asset.id")["asset.name"]
    .nunique()
    .reset_index()
    .query("`asset.name` > 1") # backticks used because the column name is not valid in python
)

# Get assets with multiple collection names
len(multi_name_assets)

0

In [330]:
nft.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305774
asset.collection.name       48785
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

For some reason 13 missing values dissapear. I checked and out of the ids that have multiple names, there is no occasion of an id having one NaN and one regular name. I don't understand why this happens but i don't think we should care about 13 assets' names.

In [331]:
nft[nft['asset.id'] == 22601505]

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
2958175,2021-06-09 12:18:48,198012102,22601505,MoonCat #24002: 0x00e45aa335,MoonCats,200000000000000000,Ether,3636.28,2,0x8dff027daadeacc7898851c4e750078aba53b922,nathanm614,0xff6ddb157773197c31a834f6a294c7d0c0abc79f,Collectibles
2965662,2021-12-09 14:58:35,2406873116,22601505,MoonCat #24002: 0x00e45aa335,MoonCats,480000000000000000,Ether,3770.94,2,0xff6ddb157773197c31a834f6a294c7d0c0abc79f,Zocktay,0xc986ca9476edc3c021c04e3306f9e37eed9071ab,Collectibles

The code appears to work just fine.

---

## Ensuring one to one relationship between seller address and seller username

* Lets check if any users share the same wallet address

In [333]:
# Group by seller.address and check the number of unique usernames
multi_name_addresses = (
    nft.groupby("seller.address")["seller.user.username"]
    .nunique()
    .reset_index()
    .query("`seller.user.username` > 1") # backticks used because the column name is not valid in python
)

# Get addresses with multiple usernames
print(len(multi_name_addresses))
print(multi_name_addresses['seller.user.username'].value_counts())

820
seller.user.username
2    782
3     36
4      2
Name: count, dtype: int64

* Just like before, this doesn't mean that our data is of low quality

* Situations like these are to be expected (for example a user modified his username)

* It may even be the case where 2 actual unique users have a mutual wallet (if allowed)

* In any case, in order to not over-complicate the analyses, we will work with the assumption that each address can only belong to a single user

In [334]:
# Sort by address and transaction date in descending order
nft_sorted = nft.sort_values(by=["seller.address", "sales_datetime"], ascending=[True, False])

# Identify the most recent name for each seller address
most_recent_name = (
    nft_sorted.groupby("seller.address", as_index=False).first()[["seller.address", "seller.user.username"]]
)

# Merge the most recent names back into the original dataframe
nft = nft.merge(most_recent_name, on="seller.address", how='left', suffixes=("", "_most_recent"))

# Replace seller.user.username with the most recent name where necessary
nft["seller.user.username"] = nft["seller.user.username_most_recent"]
nft.drop(columns=["seller.user.username_most_recent"], inplace=True)

nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,None,None,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,None,None,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,None,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,None,None,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,None,None,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,None,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,None,None,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

In [336]:
# Group by seller.address and check the number of unique usernames
multi_name_addresses = (
    nft.groupby("seller.address")["seller.user.username"]
    .nunique()
    .reset_index()
    .query("`seller.user.username` > 1") # backticks used because the column name is not valid in python
)

# Get addresses with multiple usernames
len(multi_name_addresses)

0

We have ensured that there are no addresses with multiple usernames listed. Now let's check for the opposite. Are there any usernames that have multiple addresses?

In [337]:
# Group by seller.username and check the number of unique addresses
multi_address_usernames = (
    nft.groupby("seller.user.username")["seller.address"]
    .nunique()
    .reset_index()
    .query("`seller.address` > 1") # backticks used because the column name is not valid in python
)

# Get addresses with multiple usernames
multi_address_usernames

       seller.user.username  seller.address
36169         CoolJamesDean               2
64070                  HARV               2
167597                  btc               2

There are still 3 usernames linked to 2 addresses each. Let's get keep only the most recent address used just like we did before.

In [338]:
# Sort by username and transaction date in descending order
nft_sorted = nft.sort_values(by=["seller.user.username", "sales_datetime"], ascending=[True, False])

# Identify the most recent address for each username
most_recent_address = (
    nft_sorted.groupby("seller.user.username", as_index=False).first()[["seller.user.username", "seller.address"]]
)

# Merge the most recent addresses back into the original dataframe
nft = nft.merge(most_recent_address, on="seller.user.username",how= 'left', suffixes=("", "_most_recent"))

# Replace seller.address with the most recent address where necessary
nft["seller.address"] = nft["seller.address_most_recent"]
nft.drop(columns=["seller.address_most_recent"], inplace=True)

nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,None,None,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,None,None,120000000000000000,Ether,4119.5,0,NaN,None,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,None,None,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,None,None,10000000000000000,Ether,4119.5,0,NaN,None,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,None,None,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

Let's check if everything is okay

In [339]:
# Group by seller.username and check the number of unique addresses
multi_address_usernames = (
    nft.groupby("seller.user.username")["seller.address"]
    .nunique()
    .reset_index()
    .query("`seller.address` > 1") # backticks used because the column name is not valid in python
)

# Get addresses with multiple usernames
multi_address_usernames

Empty DataFrame
Columns: [seller.user.username, seller.address]
Index: []

---

## Ensure price and quantity validity

In [341]:
nft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5252254 entries, 0 to 5252253
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   sales_datetime           datetime64[ns]
 1   id                       int64
 2   asset.id                 int64
 3   asset.name               object
 4   asset.collection.name    object
 5   total_price              object
 6   payment_token.name       object
 7   payment_token.usd_price  float64
 8   asset.num_sales          int64
 9   seller.address           object
 10  seller.user.username     object
 11  winner_account.address   object
 12  Category                 object
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 520.9+ MB

In [342]:
nft["total_price"] = nft["total_price"].astype(float)

* No negative values on positive features, thats good

In [343]:
(nft[["total_price", "payment_token.usd_price", "asset.num_sales"]] < 0).sum()

total_price                0
payment_token.usd_price    0
asset.num_sales            0
dtype: int64

* It looks like some sales and values are 0, though

In [344]:
(nft[["total_price", "payment_token.usd_price", "asset.num_sales"]] == 0).sum()

total_price                82254
payment_token.usd_price        0
asset.num_sales            48963
dtype: int64

We will assume that it is possible for a transaction to have a price equal to 0, as perhaps one could provide nft assets for free. However, transations with quantity equal to 0 don't make any sense and hence will be dropped.

In [345]:
nft = nft.loc[nft['asset.num_sales'] > 0]

Everything appears to be okay

In [346]:
(nft[["total_price", "payment_token.usd_price", "asset.num_sales"]] == 0).sum()

total_price                79884
payment_token.usd_price        0
asset.num_sales                0
dtype: int64

---

## Ensure that one category is listed for each asset

* Lets see if any assets have multiple categories recorded

In [348]:
# Group by seller.address and check the number of unique usernames
multi_name_addresses = (
    nft.groupby("asset.id")["Category"]
    .nunique()
    .reset_index()
    .query("`Category` > 1") # backticks used because the column name is not valid in python
)

# Get addresses with multiple usernames
multi_name_addresses.head()

        asset.id  Category
251410  18108502         2
252054  18119841         2
252058  18119901         2
252424  18150596         2
252428  18150638         2

In [349]:
nft.loc[nft["asset.id"] == 18119901]

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
4077240,2021-10-18 11:05:42,1425475211,18119901,Fun a Day Anthem (redux) | Song A Day #00085,Song A DAO,1.100000e+17,Ether,3827.27,2,0xeea0382b9cc110bb7f1613bc66200513361f207a,SunsIn4,0x8ff5fc0280a99642a1124e3c8aec9bf79e0fb71e,Art
4077406,2021-03-15 19:02:09,85441664,18119901,Fun a Day Anthem (redux) | Song A Day #00085,Song A DAO,1.000000e+17,Ether,3817.64,2,0x3d9456ad6463a77bd77123cb4836e463030bfab4,jonathanmann,0xeea0382b9cc110bb7f1613bc66200513361f207a,Music

* Lets, again, keep only the most recent category

In [350]:
# Sort by asset_id and transaction_date in descending order
nft_sorted = nft.sort_values(by=["asset.id", "sales_datetime"], ascending=[True, False])

# Identify the most recent category for each asset_id
most_recent_category = (
    nft_sorted.groupby("asset.id", as_index=False).first()[["asset.id", "Category"]]
)

# Merge the most recent category back into the original dataframe
nft = nft.merge(most_recent_category, on="asset.id",how='left', suffixes=("", "_most_recent"))

# Replace Category with the most recent category where necessary
nft["Category"] = nft["Category_most_recent"]
nft.drop(columns=["Category_most_recent"], inplace=True)

* All good

In [351]:
# Group by asset_id and check the number of unique collection names
multi_name_assets = (
    nft.groupby("asset.id")["Category"]
    .nunique()
    .reset_index()
    .query("`Category` > 1") # backticks used because the column name is not valid in python
)

# Get assets with multiple collection names
len(multi_name_assets)

0

---

# Transform price in wei to price in dollars

It is not really possible to convert total price in wei to actual dollars, as exchange rated between particular cryptos and ETH are not provided.