In [2]:
import pandas as pd

In [3]:
nft = pd.read_csv("OpenSea_NFT_Sales_2019_2021.csv")
print(nft.shape)
nft.head()

C:\Users\ilias\AppData\Local\Temp\ipykernel_15840\3959075410.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  nft = pd.read_csv("OpenSea_NFT_Sales_2019_2021.csv")

In [ ]:
nft.drop(["asset.collection.short_description", "asset.permalink"], axis=1, inplace=True) # useless features
nft.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305787
asset.collection.name       48785
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

In [13]:
nft.dropna(inplace=True)

In [23]:
nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized

* Each row consists of a transaction of an NFT asset

In [22]:
nft["id"].unique().shape

(4390304,)

* Each asset is part of a collection

In [25]:
nft["asset.collection.name"].unique().shape

(48846,)

* And also part of a greater category

In [28]:
print(nft["Category"].unique().shape)
nft["Category"].value_counts()

(10,)

Category
Collectibles      2422888
Art                955615
Uncategorized      434395
Virtual Worlds     236471
Utility            208181
Trading Cards       68097
Sports              23252
Domain              15714
Music               14568
Photography         11123
Name: count, dtype: int64