In [39]:
import pandas as pd

In [40]:
nft = pd.read_csv("data_transformation/nft_transactions_2019_2021.csv", parse_dates=["sales_datetime"])
print(nft.shape)
nft.head()

C:\Users\ilias\AppData\Local\Temp\ipykernel_27548\2493614862.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  nft = pd.read_csv("data_transformation/nft_transactions_2019_2021.csv", parse_dates=["sales_datetime"])

(5252254, 15)

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

In [41]:
nft.drop(["asset.collection.short_description", "asset.permalink"], axis=1, inplace=True) # useless features
nft.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305787
asset.collection.name       48785
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

In [42]:
nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

* Each row consists of a transaction of an NFT asset

In [43]:
nft["id"].unique().shape

(5252254,)

* Each asset is part of a collection

In [44]:
nft["asset.collection.name"].unique().shape

(51423,)

* And also part of a greater category

In [45]:
print(nft["Category"].unique().shape)
nft["Category"].value_counts()

(10,)

Category
Collectibles      2904079
Art               1145826
Uncategorized      513537
Virtual Worlds     282409
Utility            252446
Trading Cards       84564
Sports              25928
Domain              16687
Music               15279
Photography         11499
Name: count, dtype: int64

In [46]:
nft.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

* Users share addresses?

In [47]:
nft["seller.user.username"].unique().shape

(242258,)

In [48]:
nft["seller.address"].unique().shape

(314417,)

* What about our unique buyers?

In [49]:
nft["winner_account.address"].unique().shape

(617332,)

* It looks like several renames have been done on collections, making it look like each asset has multiple collections

* We will keep the most recent name of each collection

In [50]:
# check whether any asset has multiple recorded collections (been part of)
# Run with caution, takes some time

# for asset in nft["asset_id"]:
#     collections = nft.loc[nft["asset_id"] == asset]["collection_name"]
#     unqi = collections.drop_duplicates()
#     if unqi.shape[0] > 1:
#         print(f"asset {asset} has multiple collections: {unqi}")

In [51]:
# check whether any asset has multiple names recorded
# Run with caution, takes some time

# for asset in nft["asset_id"]:
#     names = nft.loc[nft["asset_id"] == asset]["asset_name"]
#     unqi = names.drop_duplicates()
#     if unqi.shape[0] > 1:
#         print(f"asset {asset} has multiple names: {unqi}")