# Clustering

The input for the data transformation necessary to perform clustering is the cleaned dataset, created from the cleaner.py file.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../../data_transformation/nft_transactions_cleaned.csv", parse_dates=["full_date"])
df

C:\Users\Alex\AppData\Local\Temp\ipykernel_20068\194301458.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../data_transformation/nft_transactions_cleaned.csv", parse_dates=["full_date"])

,full_date,transaction_id,asset_id,asset_name,collection_name,wei_price,payment_token_name,quantity,seller_address,seller_username,buyer_address,asset_category,day_name,day_of_week,month_name,month_number,year,time,hour
0,2020-11-28,75418817,17125992,. . ( + - . & - ),Unknown,100000000,BAEPAY,1,0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7,NORMANCOMICS,0x8f482e5fa7ca33d7734447cbb376df6a525fe750,Uncategorized,Saturday,5,November,11,2020,05:22:37,5
1,2021-01-24,77179836,17528062,NWSNI SIM SM s O INO,Unknown,100000000000000000,Ether,1,0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7,NORMANCOMICS,0xedba5d56d0147aee8a227d284bcaac03b4a87ed4,Uncategorized,Sunday,6,January,1,2021,06:55:16,6
2,2021-08-12,490127224,36309701,DEAD -01,! DEAD !,5000000000000000,Ether,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,Thursday,3,August,8,2021,08:20:14,8
3,2021-08-12,495251447,36330253,DEAD -07,! DEAD !,5000000000000000,Ether,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,Thursday,3,August,8,2021,19:47:55,19
4,2021-08-14,507555211,36781130,DEAD -13,! DEAD !,5000000000000000,Ether,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,Saturday,5,August,8,2021,03:56:11,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203286,2021-11-29,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,0,Ether,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized,Monday,0,November,11,2021,07:27:49,7
5203287,2021-12-03,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,8000000000000000,Ether,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized,Friday,4,December,12,2021,07:06:44,7
5203288,2021-03-06,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,20000000000000000,Wrapped Ether,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized,Saturday,5,March,3,2021,06:09:07,6
5203289,2021-03-29,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,10000000000000000,Ether,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized,Monday,0,March,3,2021,11:33:23,11
5203290,2021-10-22,1496067215,44025727,beyond death do us part,~~dreamscapes~~,250000000000000000,Ether,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized,Friday,4,October,10,2021,19:55:25,19

In [2]:
df.isna().sum()

full_date             0
transaction_id        0
asset_id              0
asset_name            0
collection_name       0
wei_price             0
payment_token_name    0
quantity              0
seller_address        0
seller_username       0
buyer_address         0
asset_category        0
day_name              0
day_of_week           0
month_name            0
month_number          0
year                  0
time                  0
hour                  0
dtype: int64

Let's fix the data types as needed

In [3]:
df.dtypes

full_date             datetime64[ns]
transaction_id                 int64
asset_id                       int64
asset_name                    object
collection_name               object
wei_price                     object
payment_token_name            object
quantity                       int64
seller_address                object
seller_username               object
buyer_address                 object
asset_category                object
day_name                      object
day_of_week                    int64
month_name                    object
month_number                   int64
year                           int64
time                          object
hour                           int64
dtype: object

In [4]:
df['wei_price'] = df['wei_price'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5203291 entries, 0 to 5203290
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   full_date           datetime64[ns]
 1   transaction_id      int64
 2   asset_id            int64
 3   asset_name          object
 4   collection_name     object
 5   wei_price           float64
 6   payment_token_name  object
 7   quantity            int64
 8   seller_address      object
 9   seller_username     object
 10  buyer_address       object
 11  asset_category      object
 12  day_name            object
 13  day_of_week         int64
 14  month_name          object
 15  month_number        int64
 16  year                int64
 17  time                object
 18  hour                int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(10)
memory usage: 754.3+ MB

Let's see how many total users (sellers & buyers) exist

In [5]:
total = pd.concat([df['seller_address'], df['buyer_address']])
len(total.unique())

704111

Let's check their breakdown between sellers and buyers

In [6]:
print(f"Sellers: {len(df['seller_address'].unique())} ")
print(f"Buyers: {len(df['buyer_address'].unique())} ")

Sellers: 311919
Buyers: 614135

Let's check if all the sellers are also included inside the buyers.

In [7]:
df['seller_address'].isin(df['buyer_address']).sum()

4629785

In [8]:
(~df['seller_address'].isin(df['buyer_address'])).sum()

573506

It appears that the majority of addresses found in seller id are also included in the buyer ids. However, to make sure no address is lost, when merging sellers and buyers data a full outer join must be conducted.

Let's calculate the necessary metrics for each user and start formulating our clustering input

At first we'll calculate the total number of sales, money earned and quantity sold for each seller. We' ll also calculate the number of categories that were sold by each seller, the average sale price, the days that have passed since their last sale (final date of dataset used for this calculation) and a metric measuring the frequency of their sales during the time period in which they were active.

In [9]:
max_date = df['full_date'].max()

In [10]:
# Aggregating seller metrics
seller_metrics = df.groupby('seller_address').agg(
    total_sales=('seller_address', 'count'),
    total_money_earned=('wei_price', 'sum'),
    total_quantity_sold=('quantity', 'sum'),
    category_breadth = ('asset_category', 'nunique'),
    first_sale_date=('full_date', 'min'),
    last_sale_date=('full_date', 'max')
    
).reset_index()
# Calculate average sale price
seller_metrics['avg_sale_price'] = seller_metrics['total_money_earned'] / seller_metrics['total_sales']
# Calculate recency (days since last transaction)
seller_metrics['days_since_last_sale'] = (max_date - seller_metrics['last_sale_date']).dt.days
# Calculate another frequency metric (number of sales per days active)
seller_metrics['sales_frequency'] = seller_metrics['total_sales'] / (
    (seller_metrics['last_sale_date'] - seller_metrics['first_sale_date']).dt.days + 1)


seller_metrics

,seller_address,total_sales,total_money_earned,total_quantity_sold,category_breadth,first_sale_date,last_sale_date,avg_sale_price,days_since_last_sale,sales_frequency
0,0x0000000000000000000000000000000000000000,66,1.501408e+19,91,3,2019-11-08,2020-06-19,2.274860e+17,561,0.293333
1,0x0000000000000d9054f605ca65a2647c2b521422,1,1.000000e+17,1,1,2021-02-22,2021-02-22,1.000000e+17,313,1.000000
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1,5.500000e+18,2,1,2021-07-01,2021-07-01,5.500000e+18,184,1.000000
3,0x00000000000360176d958e11c140308cd0863679,58,2.435180e+19,137090,4,2021-08-06,2021-11-08,4.198586e+17,54,0.610526
4,0x000000000004d7463d0f9c77383600bc82d612f5,6,1.274900e+19,473,2,2021-10-20,2021-11-24,2.124833e+18,38,0.166667
...,...,...,...,...,...,...,...,...,...,...
311914,0xffffa8f60d2ec6a559ef3617576ed28bc397d360,2,5.200000e+17,4,2,2021-08-05,2021-08-14,2.600000e+17,140,0.200000
311915,0xffffc32855b2620c86f413065af8c58ec68d474d,9,3.085500e+19,625,3,2021-07-29,2021-11-23,3.428333e+18,39,0.076271
311916,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,1,1.000000e+17,1,1,2021-10-26,2021-10-26,1.000000e+17,67,1.000000
311917,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,5,1.113500e+18,7,1,2021-12-06,2021-12-08,2.227000e+17,24,1.666667
311918,0xfffff6e70842330948ca47254f2be673b1cb0db7,28,3.706900e+19,44,3,2021-03-02,2021-06-30,1.323893e+18,185,0.231405

Moving on, we'll do the same for each buyer

In [20]:
# Aggregating buyer metrics
buyer_metrics = df.groupby('buyer_address').agg(
    total_purchases=('buyer_address', 'count'),
    total_money_spent=('wei_price', 'sum'),
    total_quantity_bought=('quantity', 'sum'),
    category_breadth=('asset_category', 'nunique'),
    first_purchase_date=('full_date', 'min'),
    last_purchase_date=('full_date', 'max')
).reset_index()

# Calculate average purchase price
buyer_metrics['avg_purchase_price'] = buyer_metrics['total_money_spent'] / buyer_metrics['total_purchases']
# Calculate recency (days since last purchase)
buyer_metrics['days_since_last_purchase'] = (max_date - buyer_metrics['last_purchase_date']).dt.days
# Calculate another frequency metric (number of sales per days active)
buyer_metrics['purchase_frequency'] = buyer_metrics['total_purchases'] / (
    (buyer_metrics['last_purchase_date'] - buyer_metrics['first_purchase_date']).dt.days + 1
)

buyer_metrics

,buyer_address,total_purchases,total_money_spent,total_quantity_bought,category_breadth,first_purchase_date,last_purchase_date,avg_purchase_price,days_since_last_purchase,purchase_frequency
0,0x00000000000040c8d72ad3a15ce5408f99cd61b4,1,1.000000e+18,1,1,2021-10-14,2021-10-14,1.000000e+18,79,1.000000
1,0x0000000000004c0fd5233e6c14d0e10cf190de82,1,0.000000e+00,1,1,2021-05-29,2021-05-29,0.000000e+00,217,1.000000
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,14,4.920000e+17,15,2,2021-05-24,2021-10-21,3.514286e+16,72,0.092715
3,0x00000000000360176d958e11c140308cd0863679,32,5.184567e+18,45,4,2021-08-09,2021-09-21,1.620177e+17,102,0.727273
4,0x000000000004d7463d0f9c77383600bc82d612f5,10,1.980600e+19,479,2,2021-09-23,2021-11-24,1.980600e+18,38,0.158730
...,...,...,...,...,...,...,...,...,...,...
614130,0xffffe0f5e89ccedadb322fe4ca6bd3ea5badaff2,10,2.241100e+18,17,2,2021-10-12,2021-10-17,2.241100e+17,76,1.666667
614131,0xffffe59e4ebefce216470864fd92407023288cb4,2,2.303000e+17,3,1,2021-10-22,2021-10-22,1.151500e+17,71,2.000000
614132,0xfffff6e70842330948ca47254f2be673b1cb0db7,7,1.833800e+19,13,2,2021-02-23,2021-03-08,2.619714e+18,299,0.500000
614133,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,6,3.537000e+17,986,2,2021-03-18,2021-10-25,5.895000e+16,68,0.027027
614134,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,1,8.000000e+18,1,1,2021-05-21,2021-05-21,8.000000e+18,225,1.000000

Now we are going to create variables to keep track of each sellers sales per category.

In [12]:
# Aggregating sales by category
sales_by_category = df.groupby(['seller_address', 'asset_category']).size().unstack(fill_value=0)
sales_by_category = sales_by_category.reset_index()
# Remove index name
sales_by_category = sales_by_category.rename_axis(None, axis=1)
sales_by_category

,seller_address,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x0000000000000000000000000000000000000000,0,16,0,0,0,0,0,20,0,30
1,0x0000000000000d9054f605ca65a2647c2b521422,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1,0,0,0,0,0,0,0,0,0
3,0x00000000000360176d958e11c140308cd0863679,47,2,0,0,0,0,0,1,8,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,1,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
311914,0xffffa8f60d2ec6a559ef3617576ed28bc397d360,1,1,0,0,0,0,0,0,0,0
311915,0xffffc32855b2620c86f413065af8c58ec68d474d,4,2,0,0,0,0,0,0,0,3
311916,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,0,1,0,0,0,0,0,0,0,0
311917,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,0,5,0,0,0,0,0,0,0,0
311918,0xfffff6e70842330948ca47254f2be673b1cb0db7,20,3,0,0,0,0,0,5,0,0

Now we'll do the same for the purchases of each buyer

In [21]:
# Aggregating purchases by category
purchases_by_category = df.groupby(['buyer_address', 'asset_category']).size().unstack(fill_value=0)
purchases_by_category = purchases_by_category.reset_index()
# Remove index name
purchases_by_category = purchases_by_category.rename_axis(None, axis=1)
purchases_by_category

,buyer_address,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x00000000000040c8d72ad3a15ce5408f99cd61b4,0,0,1,0,0,0,0,0,0,0
1,0x0000000000004c0fd5233e6c14d0e10cf190de82,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,0,9,0,0,0,0,0,5,0,0
3,0x00000000000360176d958e11c140308cd0863679,9,3,0,0,0,0,8,0,12,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,3,7,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
614130,0xffffe0f5e89ccedadb322fe4ca6bd3ea5badaff2,3,7,0,0,0,0,0,0,0,0
614131,0xffffe59e4ebefce216470864fd92407023288cb4,0,2,0,0,0,0,0,0,0,0
614132,0xfffff6e70842330948ca47254f2be673b1cb0db7,4,0,0,0,0,0,0,3,0,0
614133,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,0,5,0,0,0,0,0,1,0,0
614134,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,0,0,0,0,0,0,1,0,0,0

Now let's merge the dataframes necessary to finalize the input for both the sellers and the buyers clustering.

In [14]:
# Create seller clustering input
seller_metrics = seller_metrics.merge(sales_by_category, on= 'seller_address', how= 'inner')
seller_metrics

,seller_address,total_sales,total_money_earned,total_quantity_sold,category_breadth,first_sale_date,last_sale_date,avg_sale_price,days_since_last_sale,sales_frequency,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x0000000000000000000000000000000000000000,66,1.501408e+19,91,3,2019-11-08,2020-06-19,2.274860e+17,561,0.293333,0,16,0,0,0,0,0,20,0,30
1,0x0000000000000d9054f605ca65a2647c2b521422,1,1.000000e+17,1,1,2021-02-22,2021-02-22,1.000000e+17,313,1.000000,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1,5.500000e+18,2,1,2021-07-01,2021-07-01,5.500000e+18,184,1.000000,1,0,0,0,0,0,0,0,0,0
3,0x00000000000360176d958e11c140308cd0863679,58,2.435180e+19,137090,4,2021-08-06,2021-11-08,4.198586e+17,54,0.610526,47,2,0,0,0,0,0,1,8,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,6,1.274900e+19,473,2,2021-10-20,2021-11-24,2.124833e+18,38,0.166667,1,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311914,0xffffa8f60d2ec6a559ef3617576ed28bc397d360,2,5.200000e+17,4,2,2021-08-05,2021-08-14,2.600000e+17,140,0.200000,1,1,0,0,0,0,0,0,0,0
311915,0xffffc32855b2620c86f413065af8c58ec68d474d,9,3.085500e+19,625,3,2021-07-29,2021-11-23,3.428333e+18,39,0.076271,4,2,0,0,0,0,0,0,0,3
311916,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,1,1.000000e+17,1,1,2021-10-26,2021-10-26,1.000000e+17,67,1.000000,0,1,0,0,0,0,0,0,0,0
311917,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,5,1.113500e+18,7,1,2021-12-06,2021-12-08,2.227000e+17,24,1.666667,0,5,0,0,0,0,0,0,0,0
311918,0xfffff6e70842330948ca47254f2be673b1cb0db7,28,3.706900e+19,44,3,2021-03-02,2021-06-30,1.323893e+18,185,0.231405,20,3,0,0,0,0,0,5,0,0

In [22]:
# Create buyer clustering input
buyer_metrics = buyer_metrics.merge(purchases_by_category, on= 'buyer_address', how= 'inner')
buyer_metrics

,buyer_address,total_purchases,total_money_spent,total_quantity_bought,category_breadth,first_purchase_date,last_purchase_date,avg_purchase_price,days_since_last_purchase,purchase_frequency,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x00000000000040c8d72ad3a15ce5408f99cd61b4,1,1.000000e+18,1,1,2021-10-14,2021-10-14,1.000000e+18,79,1.000000,0,0,1,0,0,0,0,0,0,0
1,0x0000000000004c0fd5233e6c14d0e10cf190de82,1,0.000000e+00,1,1,2021-05-29,2021-05-29,0.000000e+00,217,1.000000,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,14,4.920000e+17,15,2,2021-05-24,2021-10-21,3.514286e+16,72,0.092715,0,9,0,0,0,0,0,5,0,0
3,0x00000000000360176d958e11c140308cd0863679,32,5.184567e+18,45,4,2021-08-09,2021-09-21,1.620177e+17,102,0.727273,9,3,0,0,0,0,8,0,12,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,10,1.980600e+19,479,2,2021-09-23,2021-11-24,1.980600e+18,38,0.158730,3,7,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614130,0xffffe0f5e89ccedadb322fe4ca6bd3ea5badaff2,10,2.241100e+18,17,2,2021-10-12,2021-10-17,2.241100e+17,76,1.666667,3,7,0,0,0,0,0,0,0,0
614131,0xffffe59e4ebefce216470864fd92407023288cb4,2,2.303000e+17,3,1,2021-10-22,2021-10-22,1.151500e+17,71,2.000000,0,2,0,0,0,0,0,0,0,0
614132,0xfffff6e70842330948ca47254f2be673b1cb0db7,7,1.833800e+19,13,2,2021-02-23,2021-03-08,2.619714e+18,299,0.500000,4,0,0,0,0,0,0,3,0,0
614133,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,6,3.537000e+17,986,2,2021-03-18,2021-10-25,5.895000e+16,68,0.027027,0,5,0,0,0,0,0,1,0,0
614134,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,1,8.000000e+18,1,1,2021-05-21,2021-05-21,8.000000e+18,225,1.000000,0,0,0,0,0,0,1,0,0,0

Of course, given the fact that most users have been involved both in sales and purchases, many of the user addresses will be taken into consideration during both clustering implementations. However, the characteristics used each time differ, in order to better reflect one's behavior as a seller and as a buyer.

Let's export our files.

In [23]:
seller_metrics.to_csv("seller_clustering_input.csv", index= False)
buyer_metrics.to_csv("buyer_clustering_input.csv", index= False)

Let's check how outliers affect our data

In [18]:
seller_metrics.describe(percentiles=[0.01,0.03,0.05,0.25,0.5,0.75,0.95,0.97,0.99])

,total_sales,total_money_earned,total_quantity_sold,category_breadth,first_sale_date,last_sale_date,avg_sale_price,days_since_last_sale,sales_frequency,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
count,311919.000000,3.119190e+05,3.119190e+05,311919.000000,311919,311919,3.119190e+05,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000,311919.000000
mean,16.681546,6.608972e+22,2.266706e+03,1.814638,2021-08-13 15:47:30.451559168,2021-10-03 23:53:27.775095552,2.224028e+22,89.004540,0.794917,3.673024,9.309292,0.053472,0.049811,0.036865,0.083115,0.271096,1.490377,0.809322,0.905171
min,1.000000,0.000000e+00,1.000000e+00,1.000000,2019-01-01 00:00:00,2019-01-01 00:00:00,0.000000e+00,0.000000,0.001974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1%,1.000000,1.000000e+14,1.000000e+00,1.000000,2019-06-12 00:00:00,2019-12-24 00:00:00,1.000000e+14,3.000000,0.014706,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3%,1.000000,1.000000e+16,1.000000e+00,1.000000,2020-05-03 00:00:00,2020-11-29 00:00:00,7.000000e+15,9.000000,0.028302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5%,1.000000,2.500000e+16,1.000000e+00,1.000000,2020-12-21 00:00:00,2021-03-20 00:00:00,1.339977e+16,15.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.600000e+17,3.000000e+00,1.000000,2021-08-10 00:00:00,2021-09-24 00:00:00,1.100000e+17,24.000000,0.148148,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.100000e+18,8.000000e+00,1.000000,2021-09-18 00:00:00,2021-11-06 00:00:00,2.650000e+17,56.000000,0.516129,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10.000000,4.885000e+18,4.600000e+01,2.000000,2021-10-25 00:00:00,2021-12-08 00:00:00,6.650000e+17,99.000000,1.000000,2.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
95%,64.000000,4.500000e+19,5.644000e+03,5.000000,2021-12-10 00:00:00,2021-12-17 00:00:00,3.791292e+18,287.000000,2.000000,14.000000,36.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,3.000000
97%,100.000000,8.259198e+19,1.493476e+04,5.000000,2021-12-14 00:00:00,2021-12-23 00:00:00,6.220209e+18,398.000000,2.582117,23.000000,56.000000,0.000000,0.000000,0.000000,0.000000,2.000000,9.000000,5.000000,6.000000
99%,230.000000,4.020639e+20,3.728676e+04,6.000000,2021-12-17 00:00:00,2021-12-29 00:00:00,4.000000e+19,739.000000,5.000000,57.000000,133.000000,0.000000,0.000000,0.000000,2.000000,5.000000,29.000000,14.000000,17.000000
max,9577.000000,3.000000e+27,5.660200e+07,10.000000,2021-12-31 00:00:00,2022-01-01 00:00:00,3.000000e+27,1096.000000,1046.000000,4430.000000,9577.000000,7255.000000,6159.000000,723.000000,469.000000,2996.000000,1082.000000,7819.000000,4825.000000
std,74.620662,8.409861e+24,1.264481e+05,1.243668,NaN,NaN,5.657003e+24,124.851293,4.083783,23.030284,48.786179,13.058900,11.219817,2.031500,1.922680,6.735268,9.312438,15.662901,12.129771

In [24]:
buyer_metrics.describe(percentiles=[0.01,0.03,0.05,0.25,0.5,0.75,0.95,0.97,0.99])

,total_purchases,total_money_spent,total_quantity_bought,category_breadth,first_purchase_date,last_purchase_date,avg_purchase_price,days_since_last_purchase,purchase_frequency,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
count,614135.000000,6.141350e+05,6.141350e+05,614135.000000,614135,614135,6.141350e+05,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000,614135.000000
mean,8.472552,3.356695e+22,1.151259e+03,1.666730,2021-08-24 13:06:02.623200768,2021-09-26 07:56:30.706603776,7.235419e+21,96.669089,0.883057,1.865528,4.728187,0.027159,0.025299,0.018724,0.042214,0.137690,0.756962,0.411055,0.459736
min,1.000000,0.000000e+00,1.000000e+00,1.000000,2019-01-01 00:00:00,2019-01-01 00:00:00,0.000000e+00,0.000000,0.001951,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1%,1.000000,0.000000e+00,1.000000e+00,1.000000,2019-10-23 00:00:00,2020-03-07 00:00:00,0.000000e+00,6.000000,0.018519,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3%,1.000000,7.000000e+14,1.000000e+00,1.000000,2020-11-23 00:00:00,2021-02-16 00:00:00,5.000000e+14,15.000000,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5%,1.000000,5.800000e+15,1.000000e+00,1.000000,2021-02-27 00:00:00,2021-03-16 00:00:00,5.000000e+15,16.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,8.400000e+16,2.000000e+00,1.000000,2021-08-13 00:00:00,2021-09-10 00:00:00,5.100000e+16,33.000000,0.227679,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,3.680000e+17,5.000000e+00,1.000000,2021-09-18 00:00:00,2021-10-19 00:00:00,1.480000e+17,74.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,1.884000e+18,2.800000e+01,2.000000,2021-11-02 00:00:00,2021-11-29 00:00:00,3.800000e+17,113.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
95%,34.000000,2.088520e+19,5.186000e+03,4.000000,2021-12-10 00:00:00,2021-12-16 00:00:00,2.075000e+18,291.000000,2.000000,8.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,2.000000
97%,51.000000,4.034483e+19,9.499980e+03,5.000000,2021-12-13 00:00:00,2021-12-17 00:00:00,3.570000e+18,319.000000,3.000000,13.000000,30.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,3.000000
99%,108.000000,2.350651e+20,2.386666e+04,6.000000,2021-12-17 00:00:00,2021-12-26 00:00:00,2.000000e+19,665.000000,5.000000,28.000000,62.000000,0.000000,1.000000,0.000000,1.000000,3.000000,12.000000,7.000000,8.000000
max,48160.000000,3.039556e+27,3.322100e+06,10.000000,2022-01-01 00:00:00,2022-01-01 00:00:00,3.900000e+26,1096.000000,454.339623,7328.000000,27263.000000,486.000000,88.000000,90.000000,148.000000,1011.000000,1135.000000,5982.000000,5194.000000
std,67.557899,6.126562e+24,9.729498e+03,1.113299,NaN,NaN,9.601739e+23,112.949329,1.470977,12.258275,38.687096,1.291864,0.346532,0.399756,0.720099,1.874422,4.441505,7.992397,7.939302

---

## Attempting to combine buyer and seller data and perform a single clustering

(IT DID NOT WORK)

Now it's time to merge the metrics we've calculated, we fill the NAs that come up, setting them equal to 0. Also, column names are renamed where needed to better differentiate between sales and purchases.

In [ ]:
# Merging all metrics
user_metrics = pd.merge(seller_metrics, buyer_metrics, on='user_address', how='outer').fillna(0)
user_metrics = pd.merge(user_metrics, sales_by_category, on='user_address', how='left').fillna(0)

# Rename sales category columns
sales_category_columns = sales_by_category.columns.difference(['user_address'])
user_metrics = user_metrics.rename(columns={col: f"sales_{col}" for col in sales_category_columns})

user_metrics = pd.merge(user_metrics, purchases_by_category, on='user_address', how='left').fillna(0)
# Rename purchases category columns
purchases_category_columns = purchases_by_category.columns.difference(['user_address'])
user_metrics = user_metrics.rename(columns={col: f"purchases_{col}" for col in purchases_category_columns})

user_metrics

Everything seems to be fine and there appear to be no missing values

In [ ]:
user_metrics.isna().sum()

Now to complete our clustering input, let's calculate the average holding period of an asset for each user. The holding period of an asset can be defined as the number of days that elapsed between the user's buying and selling of said asset. For assets that have no sales data attached to them, the final day of our dataset will be used to calculate this metric. For assets that have no purchase data attached to them, the first day of our dataset will be used.

In [ ]:
# Step 1: Determine dataset date range
min_date = df['full_date'].min()
max_date = df['full_date'].max()

# Step 2: Purchases (buyers acquiring assets)
purchases = df[['buyer_address', 'asset_id', 'full_date']].rename(columns={'buyer_address': 'user_address', 'full_date': 'purchase_date'})
purchases

In [ ]:
# Step 3: Sales (sellers selling assets)
sales = df[['seller_address', 'asset_id', 'full_date']].rename(columns={'seller_address': 'user_address', 'full_date': 'sale_date'})
sales

In [ ]:
# Step 4: Identify sellers without purchases
sellers_without_purchases = sales[~sales['user_address'].isin(purchases['user_address'])]
sellers_without_purchases['purchase_date'] = min_date  # Assume they acquired assets before dataset start

# Combine these sellers into the purchases dataframe
purchases = pd.concat([purchases, sellers_without_purchases[['user_address', 'asset_id', 'purchase_date']]])
purchases

All the addresses already exist on the purchases table so we can simply left join

In [ ]:
# Step 5: Merge purchases and sales
holdings = pd.merge(purchases, sales, on=['user_address', 'asset_id'], how='left')
holdings

In [ ]:
# Step 6: Assign holding periods
holdings['sale_date'] = holdings['sale_date'].fillna(max_date)  # Use max_date if no sale date exists
holdings['holding_period'] = (holdings['sale_date'] - holdings['purchase_date']).dt.days
holdings

In [ ]:
# Step 7: Calculate average holding period for each user
average_holding_period = holdings.groupby('user_address').agg(
    avg_holding_period=('holding_period', 'mean')
).reset_index()
average_holding_period

In [ ]:
# Step 8: Merge average holding period into the main user_metrics dataframe
user_metrics = pd.merge(user_metrics, average_holding_period, on='user_address', how='left').fillna(0)
user_metrics

In [ ]:
user_metrics.isna().sum()

There's an obvious problem because of multiple duplicate combinations of addresses and asset ids. That means that most probably average holding period is useless and should not be used for clustering users.

In [33]:
user_metrics.to_csv("clustering_input.csv", index= False)

---

## Seller clustering results

After many clustering attempts, the one that produces the best results is the one regarding the sellers. The results of the clustering will be analyzed in this section.

To find the optimal clustering the following process was conducted using RapidMiner. K-means was selected as the clustering method and different values where tested, as far as k and numerical measures are concerned.

![clustering-comparison](resources/clustering_comparison.png)

To evaluate clustering performance DBI was used. The top 10 combinations with the best DBIs can be seen on the following image:

![dbi](resources/dbi.png)

The best performing clustering model is the one using k = 4 clusters and Kernel Euclidian Distance. This model also happens to produce the most meaningful results and so it is the model chosen for our analysis.

The actual model implementation was conducted using the process that can be seen below.

![clustering-implementation](resources/clustering_implementation.png)

The results of this process can be seen in the following pictures.

![overview](resources/overview.png)

![plot](resources/plot.png)

![centroids](resources/centroids.png)

![heatmap](resources/heatmap.png)

The results can be summarized as follows:
- Cluster 0 (Blue) - Specialized sellers (Εξειδικευμένοι πωλητές): This cluster has the highest average sale price and total earnings. They sell small quantities of assets that belong to specific category groups. Their total number of transactions is below average while their recency is average. They have a small number of sales that spans over a short time period and this is why they appear to have the largest frequency. To sum it up, they focus on a small amount of high value sales and sell assets that belong to particular categories they are heavily interested in. This cluster includes 55.83% of all sellers.
- Cluster 1 (Green) - Microsellers (Μικροπωλητές)  : This cluster contains sellers with low total earnings and average sale price that sell assets of various categories. Also, they have few transactions and have sold a small quantity of assets. However, they appear to have a decent recency. All in all, this cluster contains occasional sellers that rarely sell small quantities of assets for low prices without a particular focus in any category. This cluster includes 30.68% of all sellers.
- Cluster 2 (Yellow) - Bulk Traders (Χονδρέμποροι/Έμποροι χονδρικής) : This cluster contains sellers that have the largest amount of total sales, selling the highest quantity of assets. They appear to sell assets of a very wide variety of categories. Despite their heavy involvement in transactional activity, their average price per sale and their total earnings appear to be relatively low. They also have the best recency among clusters. To sum up, this cluster is characterized by the aforementioned heavy involvement in transactional activity regarding all sorts of low value and high quantity assets. This cluster includes 10.27% of all sellers.
- Cluster 3 (Red) - Dormant Sellers (Ανενεργοί/αδρανείς πωλητές) : This cluster contains sellers that are below average in every single category. They have the fewest transactions with low monetary gains. What truly sets them apart is their abysmal recency. The sellers of this cluster most probably just happened to sell a few random assets that were in their possession, and since haven't been at all active inside the marketplace. This cluster includes 3.22% of all sellers.

Some observations (κυρίως για εσένα Ηλία):
- Of course the values have been normalized and that is reflected by the centroids
- The centroids don't appear to have any drastic differences as far as most variables are concerned. However, removing just a single one of them heavily deteriorates the clustering results. Also, most sellers appear to have quite common behavior and only few outliers exist. These outliers were of course excluded and hence no drastic differences (e.g. in monetary gain) are evident.
- I strongly doubt (as i have already mentioned) the validity of any available data regarding prices. I assume that may be the reason that other than 20 sellers, no one appears to stand out.
- Log transforming base 10 the columns related to prices (avg_sale_price, total_money_earned) doesn't improve the clustering results whatsoever (I tried it). 
- The frequency column was calculated as total_sales/time_period_of_these_sales in an effort to measure the intensity of the seller's behavior.
- Despite these problems, the all around findings appear to make sense. It is more evident while viewing the heatmap, that clusters have been formed in a meaningful way.